@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

* {
  font-family: 'Martian Mono', monospace;
}

.App-header {
  background-image: radial-gradient(circle, #a29fba, #a598bd, #ac90be, #b686bb, #c17bb4, #c07ab4, #bf79b3, #be78b3, #b081b9, #a489ba, #9a8fb9, #9494b4);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin-top: 500px;
}
